[class*="col-"] {
    background-color: rgb(65, 65, 183);
    border: 1px solid rgb(255, 255, 255);
    height: 50px;
}

section{
    margin-bottom: 30px;
}

.text{
    color: white;
    text-align: center;
    padding: 15px;
}

.row .row [class*="col-"]{
    border: none;
}

.row .row [class*="col-"] div{
    background-color: rgb(22, 239, 22);
    text-align: center;
    padding: 10px 0;
    margin: 5px;
}
